<div class="wrapper">

  <!--- LEFT SIDEBAR --->
  <aside class="sidebar">
    <ul class="sidebar__main">
      <li>Browse</li>
      <li>Radio</li>
    </ul>
    <ul class="sidebar__music">
      <h2 class="sidebar__header">Your Music</h2>
      <li>Your Daily Mix</li>
      <li>Songs</li>
      <li>Albums</li>
      <li>Artists</li>
      <li>Stations</li>
      <li>Local Files</li>
    </ul>
    <ul class="sidebar__playlists">
      <h2 class="sidebar__header">Playlists</h2>
      <li>Liked from Radio</li>
      <li>Indie Pop</li>
      <li>Roadtrip</li>
      <li>Release Radar</li>
      <li>Focus</li>
      <li>Piano Mood</li>
      <li>Your Summer Rewind</li>
      <li>Inspire</li>
      <li>Alternative Faves</li>
    </ul>
  </aside>

  <main>
    <header class="main__header">
      <h1>Browse</h1>
    </header>

    <nav class="main__nav">
      <a class="link is-active" href="#">Overview</a>
      <a class="link" href="#">Charts</a>
      <a class="link" href="#">Genres and Moods</a>
      <a class="link" href="#">New Releases</a>
      <a class="link" href="#">Discover</a>
      <a class="link" href="#">More</a>
    </nav>

    <section class="main__content">

      <div class="album__info">
        <div class="album__info__art">
          <img src="/album/{{album._id}}/cover" alt="{{album.name}}" />
        </div>

        <div class="album__info__meta">
          <div class="album__year">{{album.year}}</div>
          <div class="album__name">{{album.name}}</div>
          <div class="album__year">{{album.producers}}</div>
          <div class="album__year">{{album.studio}}</div>
        </div>
      </div>

      <div class="album__tracks">
        <div class="tracks">
          <div class="tracks__header">
            <div class="tracks__header__number">#</div>
            <div class="tracks__header__title">Song</div>
            <div class="tracks__header__length">
              <i class="ion-ios-stopwatch-outline"></i>
            </div>
            <div class="tracks__header__popularity">
              <i class="ion-thumbsup"></i>
            </div>
          </div>

          {{#each album.tracks}}
          <div class="track" id={{_id}} onclick="onclickMusic(this.id)">
            <div class="track__number">{{@index}}</div>
            <div class="track__added">
              <i class="ion-checkmark-round added"></i>
            </div>
            <div class="track__title">{{title}}</div>
            <div class="track__length">{{duration}}</div>
            <div class="track__popularity">
              <i class="ion-arrow-graph-up-right"></i>
            </div>
          </div>
          {{/each}}

        </div>
      </div>

    </section>
  </main>

  <!-- SIDEBAR RIGHT -->
  <aside class="activity">
    <h2>Friend Activity</h2>
    <button class="button">Find Friends</button>
  </aside>

</div>

<!--
<section class="current-track">

  <div class="current-track__actions">
    <a class="ion-ios-skipbackward"></a>
    <a class="ion-ios-play play"></a>
    <a class="ion-ios-skipforward"></a>
  </div>

  <div class="current-track__progress">
    <div class="current-track__progress__start">0:01</div>
    <div class="current-track__progress__bar">
      <div id="song-progress"></div>
    </div>
    <div class="current-track__progress__finish">3:07</div>
  </div>

  <div class="current-track__options">
    <a href="#" class="lyrics">Lyrics</a>
    <span class="controls">
      <a href="#" class="control">
        <i class="ion-navicon"></i>
      </a>

      <a href="#" class="control">
        <i class="ion-shuffle"></i>
      </a>

      <a href="#" class="control">
        <i class="fa fa-refresh"></i>
      </a>

      <a href="#" class="control devices">
        <i class="ion-iphone"></i>
        <span>Devices Available</span>
      </a>

      <a href="#" class="control volume">
        <i class="ion-volume-high"></i>
        <div id="song-volume"></div>
      </a>
    </span>
  </div>
</section>
-->