<div>
  {{> header}}

  <section class="page">
    {{> sidebar}}

    <section class="main">
      <header class="main__header">Browse</header>

      <nav class="main__nav">
        <a class="link is-active" href="#">Overview</a>
        <a class="link" href="#">Charts</a>
        <a class="link" href="#">Genres and Moods</a>
        <a class="link" href="#">New Releases</a>
        <a class="link" href="#">Discover</a>
        <a class="link" href="#">More</a>
      </nav>

      <section class="main__content">
        <div class="band">
          <div class="band__info__wrapper">
            <div class="band__info">
              <div class="band__info__art">
                <img src="/web/band/{{artist.id}}/cover" alt="{{artist.name}}" loading="lazy" />
              </div>

              <div class="band__info__data">
                <div class="band__name">{{artist.name}}</div>
                <div class="band__genre">{{artist.genre}}</div>
              </div>
            </div>
            <div class="band__description">{{artist.description}}</div>

            <div class="popular__tracks">
              <h2>Popular Tracks</h2>
              <div class="tracks__header">
                <div class="tracks__header__title">Song</div>
                <div class="tracks__header__length">
                  <i class="far fa-clock"></i>
                </div>
              </div>

              {{#each artist.tracks}}
              <div class="track" id={{id}} onclick="OnClickMusic(this.id)">
                <div class="track__title">{{title}}</div>
                <div class="track__length">{{duration}}</div>
              </div>
              {{/each}}
            </div>

            <div>
              <h2>Albums</h2>
              <ul class="albums__list">
                {{#each artist.albums}}
                <li class="albums__list__item" id={{id}} onclick="OnClickAlbum(this.id)"
                  style="background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/web/album/{{id}}/cover); opacity: 0.8">
                  <span class="album__title">{{name}}</span>
                  <span class="album__year">{{year}}</span>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
      </section>
    </section>
  </section>

  {{> current-track}}
</div>