<div class="wrapper">

  <!--- LEFT SIDEBAR --->
  <aside class="sidebar">
    <ul class="sidebar__main-links">
      <li>Browse</li>
      <li>Radio</li>
    </ul>
    <ul class="sidebar__music">
      <h2 class="sidebar__header">Your Music</h2>
      <li>Your Daily Mix</li>
      <li>Songs</li>
      <li>Albums</li>
      <li>Artists</li>
      <li>Stations</li>
      <li>Local Files</li>
    </ul>
    <ul class="sidebar__playlists">
      <h2 class="sidebar__header">Playlists</h2>
      <li>Liked from Radio</li>
      <li>Indie Pop</li>
      <li>Roadtrip</li>
      <li>Release Radar</li>
      <li>Focus</li>
      <li>Piano Mood</li>
      <li>Your Summer Rewind</li>
      <li>Inspire</li>
      <li>Alternative Faves</li>
    </ul>
  </aside>

  <main>
    <header class="main__header">
      <h1>Browse</h1>
    </header>

    <nav class="main__nav">
      <a class="link is-active" href="#">Overview</a>
      <a class="link" href="#">Charts</a>
      <a class="link" href="#">Genres and Moods</a>
      <a class="link" href="#">New Releases</a>
      <a class="link" href="#">Discover</a>
      <a class="link" href="#">More</a>
    </nav>

    <section class="main__content">

      <div class="band__info">
        <div class="band__info__art">
          <img src="/band/{{artist.id}}/cover" alt="{{artist.name}}" />
        </div>

        <div class="band__info__meta">
          <div class="band__name">{{artist.name}}</div>
          <div class="band__genre">{{artist.genre}}</div>
        </div>
      </div>

      <div class="popular__tracks">
        <h2>Popular Musics</h2>
        {{#each artist.tracks}}
        <div class="track" id={{id}} onclick="onclickMusic(this.id)">
          <div class="track__art"><img src="/album/{{id}}/cover" alt="{{title}}" /></div>
          <div class="track__number">1</div>
          <div class="track__added"><i class="ion-checkmark-round added"></i></div>
          <div class="track__title">{{title}}</div>
          <div class="track__length">{{duration}}</div>
        </div>
        {{/each}}
      </div>

      <h2>Albums</h2>
      <ul class="album__list">
        {{#each artist.albums}}
        <li class="album__list-item" id={{id}} onclick="onclickAlbum(this.id)">
          <span class="album__title">{{name}}</span>
          <span class="album__year">{{year}}</span>
        </li>
        {{/each}}
      </ul>

    </section>
  </main>

  <!-- SIDEBAR RIGHT -->
  <aside class="activity">
    <h2>Friend Activity</h2>
    <button class="button">Find Friends</button>
  </aside>
</div>